@page "/IdeaEdit/{IdeaId:int}"
@using PortfolioWebApp.Models
@rendermode InteractiveServer

<PageTitle>Edit Idea</PageTitle>

@* <h3>Idea to be edited:</h3> *@

@if (EditedIdea == null)
{
    <p>Loading...</p>
}
else
{

    <div class="form-container col-10 mx-auto p-5">
    
        <EditForm Enhance Model="EditedIdea">

                <div class="row mb-3">
                    <label for="name" class="col-form-label col-md-3">Name: </label>
                        <div class="col-md-8">
                            <InputText id="name" class="form-control" @bind-Value="@EditedIdea.Name" placeholder="Enter Name"></InputText>
                        </div>
                </div>

                <div class="row mb-3">
                    <label for="description" class="col-form-label col-md-3">Description: </label>
                    <div class="col-md-8">
                        <InputTextArea id="name" class="form-control" @bind-Value="@EditedIdea.Description" placeholder="Enter Description"></InputTextArea>
                    </div>
                </div>

                <div class="row mb-3">
                        <label for="name" class="col-form-label col-md-3">Category: </label>
                        <div class="col-md-8">
                            <InputSelect class="col-4 p-2" @bind-Value="@EditedIdea.Category">
                                @foreach (IdeaCategory category in Enum.GetValues(typeof(IdeaCategory)))
                                {
                                    <option value="@category">@category</option>
                                }
                            </InputSelect>
                        </div>
                </div>

            <center>
                <button type="submit" class="btn btn-primary mx-2 col-3 mt-3 text-lg-center" @onclick="() => NavigateToIdeaShow()">Save Changes</button>
                <button type="button" class="btn btn-danger mx-2 col-3 mt-3 text-lg-center" @onclick="() => DeleteIdea(EditedIdea.Id)">Delete</button>
            </center>

        </EditForm>

    </div>

}

