@page "/weatherApiCallsHistory"
@using Microsoft.AspNetCore.Components.QuickGrid
@using PortfolioWebApp.Models
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Weather API History</PageTitle>

<center>

    <h2 class="my-5 mx-auto">Take a look at Weather API history calls.</h2>

    <p class="mb-5 lh-lg">
        This table presents all calls made to the <strong>'My Weather API'</strong>.<br />
        All responses are stored in the database, and we asynchronously query the database to retrieve the relevant information.<br />
        The data is displayed using QuickGrid, which facilitates efficient pagination for enhanced user experience.

    </p>


    <h2 class="my-4 font-monospace">Weather History:</h2>

    @if (@historyCount > 0)
    {   
        <div class="container col-12 container-fluid">

          <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" 
               FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
               PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
               Data="@itemsWeatherHistory" ColumnWidth="300px" class="rounded">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.DateTime)" Filterable="false" Title="DateTime" FormatString="{0:yyyy/MM/dd ' - ' hh:mm}" Frozen="true" Width="200px"/>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.Country)" Title="Country" Frozen="true" Width="160px" />
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.City)" Title="City" Frozen="true" Width="160px"/>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.Description)" Title="Description" Frozen="true" Width="150px" />

                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.Temperature)" Title="Temperature" FormatString="{0} °C" Filterable="false" Width="150px" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.FeelsLike)" Title="Feels Like" FormatString="{0} °C" Filterable="false" Width="150px" TextAlign="TextAlign.Right"/>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.WindSpeed)" Title="Wind Speed" FormatString="{0} km/h" Filterable="false" Width="150px" TextAlign="TextAlign.Right"/>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.Humidity)" Title="Humidity" FormatString="{0} %" Filterable="false" Width="150px" TextAlign="TextAlign.Right"/>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.Pressure)" Title="Pressure" FormatString="{0} hPa" Filterable="false" Width="150px" TextAlign="TextAlign.Right"/>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.Lat)" Filterable="false" Title="Lat" Width="100px" TextAlign="TextAlign.Center"/>
                    <RadzenDataGridColumn Property="@nameof(WeatherHistory.Lon)" Filterable="false" Title="Lon" Width="100px" TextAlign="TextAlign.Center"/>
                </Columns>
            </RadzenDataGrid> 
  
        </div>
    }
    else
    {
        <h4>No history data found. Please use API calls to generate history.</h4>
    }
</center>