@page "/weather"
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>My Weather API </PageTitle>

<center>

    <h2 class="my-5 mx-auto">Page for checking the weather around the World!</h2>

    <p class="mb-5 lh-lg">
            This page retrieves data from an external API (using an API key) provided by '<a href="https://api.openweathermap.org" target="_blank">https://api.openweathermap.org</a>'. <br />
        The data is fetched with injected HttpClient and page is using InteractiveServer render mode. <br />
        Each time the user clicks the <strong>'Get Weather'</strong> button, the API is called to obtain the necessary longitude and latitude for the provided location. <br />
        If location is not found - error message is displayed.
        Following this, another API call is made to retrieve the current weather information. <br />
        We also save results to the DB, so have a look at history calls in 'Weather Api History' tab.
        <ExpandableSection displayText="
            Please note that records for a given city are saved to the database at most once every 5 minutes.
            If the same city is queried multiple times within a 5-minute period, only one record will be stored to prevent duplicate entries.
            After 5 minutes, if the same city is queried again, a new record will be added to the database, as weather conditions may have changed.">
        </ExpandableSection>
        </p>


    <div class="form-container">
        <form data-enhance>
            <AntiforgeryToken/>
            <div class="form-control">
                <label>
                    Country:<br />
                    <InputText @bind-Value="countryCode" />
                </label>
                <!-- 
                <label>
                    Code:<br />
                    <InputText @bind-Value="stateCode" />
                </label>
                -->
                <label>City:<br />
                        <InputText @bind-Value="cityName"/>
                </label>
            </div>
                <button class="btn btn-warning mx-2 col-4 mt-3 text-lg-center" onclick="@GetLanLon"><strong><i class="bi bi-thermometer-sun"></i> Get Weather</strong></button>
        </form>
   

    @if (!firstLoad)
    {

        @if (response == null && locationFound)
        {
            <div class="spinner-border mt-4" style="width: 4rem; height: 4rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }

        else if(response == null && !locationFound)
        {
                <h5 class="font-monospace mt-4">Ups... Seems like given location hasn't been found. Please try again.</h5>
        }
        else
        {
                <h5 class="font-monospace mt-4">Currently in @response.Name:</h5>
                    <div class="result-container">
                        <p style="font-size: 1.5em;">@response.Weather[0].Main</p>
                        <img class="weather-icon" src=@iconUrl alt="Weather Icon">
                    <p style="font-size: 1.5em;">Temp: @response.Main.Temp.ToString("0.0") °C (feels like @response.Main.Feels_Like.ToString("0.0") °C)</p>

                    <div class="weather-additional-info">
                        <div class="weather-additional-info-column">
                            Wind: <br> @response.Wind.Speed.ToString("0.0") km/h
                        </div>
                        <div class="weather-additional-info-column">
                                Humidity: <br> @response.Main.Humidity.ToString("0") %
                            </div >
                        <div class="weather-additional-info-column">
                                Pressure: <br> @response.Main.Pressure.ToString("0.0") hPa
                            </div>
                        </div>
                    </div>
        }      
    }
    </div>


</center>

