@page "/IdeaAdd"
@rendermode InteractiveServer
@inherits PortfolioWebApp.Data.Ideas.IdeaAddBase

<PageTitle>Add Ideas</PageTitle>


@if (@IsNewSubmission)
{

    <div class="form-container col-10 mx-auto p-5">
        <EditForm Enhance Model="Model" OnValidSubmit="@AddIdeaFromForm" FormName="AddIdeaForm">
            <DataAnnotationsValidator/>
            

            <div class="text-lg-center my-2">
                <h3 class="mx-2 my-4">Got an idea to share? <br />Simply fill out the form, and it will be added to the list of existing ideas!</h3><br />
                </div>


            <div class="row mb-3">
                <label for="name" class="col-form-label col-md-3">Name: </label>
                <div class="col-md-8">
                    <InputText id="name" class="form-control" @bind-Value="Model.Name" placeholder="Enter Name"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Model.Name)"/>
            </div>

            <div class="row mb-3">
                <label for="description" class="col-form-label col-md-3">Description: </label>
                <div class="col-md-8">
                    <InputTextArea id="name" class="form-control" @bind-Value="Model.Description" placeholder="Enter Description"></InputTextArea>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Model.Description)" />
            </div>

            <div class="row mb-3">
                <label for="name" class="col-form-label col-md-3">Category: </label>
                <div class="col-md-8">
                    <InputSelect class="col-4 p-2" @bind-Value="Category">
                        @foreach (IdeaCategoryEnum category in Enum.GetValues(typeof(IdeaCategoryEnum)))
                        {
                            <option value="@category">@category</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <center>
                <button type="submit" class="btn btn-success mx-2 col-3 mt-3 mb-3 text-lg-center">
                    <strong><i class="bi bi-feather"></i> Add Idea</strong>
                </button>
            </center>
        </EditForm>

    </div>
}
else
{
    <center>
        <h3>Idea submitted succesfuly. Thank you!</h3>
        <button @onclick="ResetView" class="btn btn-primary mx-2 col-3 mt-3 text-lg-center">
            <strong><i class="bi bi-border-all"></i> Submitt another idea</strong>
        </button>
    </center>
}


